
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.thumb-ZjN {
  width: 100%;
  height: 120rem;

  .thumb-hqa {
    vertical-align: top;
    width: 160rem;
    height: 120rem;
    object-fit: cover;
  }
}
